<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = 'about' %}
		{% assign prompt = 'About me' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Articles' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.logo_url }}" class="logo-avatar">
	</a>
	<span class="logo-prompt code">{{ prompt }}</span>

</aside>

	<p class="menu">
		<a href="/">Articles</a> |
		<a href="/about">About me</a>
		<a href="https://www.linkedin.com/in/rafalmakara/">LinkedIn Profile</a>
	</p>
